<div class="main-content">
	<div class="container-fluid">
		<div class="row" *ngFor="let requete of requetes">
			<div _ngcontent-c2="" class="col-md-12">
                <div _ngcontent-c2="" class="card">
                    <div _ngcontent-c2="" class="header">
                        <h4 _ngcontent-c2="" class="title">{{requete.objet}}</h4>
                    </div>
                    <div _ngcontent-c2="" class="content">
                            <div _ngcontent-c2="" class="row">
                                <div _ngcontent-c2="" class="col-md-12">
                                    1
                                </div>
                            </div>

                            <div _ngcontent-c2="" class="row">
                                <div _ngcontent-c2="" class="col-md-4">
                                    2
                                </div>
                                <div _ngcontent-c2="" class="col-md-4">
                                    3
                                </div>
                                <div _ngcontent-c2="" class="col-md-4">
                                    
                                   4
                                </div>
                            </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
