<div class="main-content">
	<div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{requeteEnCourLength}}</h3>

                  <p>Requetes En cours</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>{{requeteAboutisLength}}</h3>

                  <p>Requetes Aboutis</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{requeteRejetteesLength}}</h3>

                  <p>requetes rejettées</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>
		<div class="row" *ngFor="let requete of requetes">
			<div _ngcontent-c2="" class="col-md-12">
                <div _ngcontent-c2="" class="card">
                    <div _ngcontent-c2="" class="header">
                        <h4 _ngcontent-c2="" class="title">Requetes en cours</h4>
                    </div>
                    <div _ngcontent-c2="" class="content">
                            <div _ngcontent-c2="" class="row">
                                <div _ngcontent-c2="" class="col-md-4">
                                    <div class="card">
                                        <div class="card-title">
                                            
                                        </div>
                                        <div class="">
                                            
                                        </div>
                                        <div class="card-footer">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>