<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">

        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}
        </p>
    </div>
</footer>
